.App {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  
  min-height: 100vh;
  background-color: steelblue;
  color: white;
}

.heading {
  background-color: rgb(34,73,112);
}

#currencies {
  color: white;
  background-color: steelblue;
  box-shadow: 2px 2px 7px 1px #224970;
  min-width: 4rem;
  min-height: 2rem;
  font-size: medium;
  border-color: steelblue;
  border-radius: 5px;
}

.groups {
  list-style-type: none;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.padding {
  padding: 1rem;
}

.group {
  margin-right: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
